<title>Angular Routing Demo</title>
<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <a class="button" routerLink="/spiders" routerLinkActive="activebutton">Spiders</a> 
    <a class="button" routerLink="/people" routerLinkActive="activebutton">People</a>
</nav>

<!-- router content appears here -->
<router-outlet></router-outlet> 

<footer>
    <hr />
    &nbsp;Angular version: {{this.angularVersion}}
</footer>